.App {
  padding: 30px 3vw;
}

.welcome-header {
  color: rgba(0, 0, 0, 0.8);
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}

.models-header {
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.models-pane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}

.model {
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 30px 0;
  padding: 0;

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
  }
}

.model-detail {
  width: 100%;
  padding-left: 50px;
  overflow-x: scroll;
  position: relative;
}

.model-name {
  text-align: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

.header-cell {
  font-weight: bold;
  text-transform: uppercase;
}

.cell-section {
  margin-bottom: 25px;

  p {
    margin: 5px 0;
    white-space: pre-wrap;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.table-container {
  max-width: 100%;
}

.data-table {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.data-table-head {
  overflow-y: auto;
  overflow-x: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  min-width: auto !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.data-table-body {
  overflow-y: scroll;
  overflow-x: scroll;
  min-width: auto !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.table-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  &:last-child {
    border-bottom: none;
  }
}

.header-cell, .table-cell {
  margin: 0;
  padding: 0.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  overflow-x: scroll;

  :last-child {
    border-right: 0;
  }
}

.table-img {
  width: 90%;
  margin: 0 auto;
}

.resizer {
  width: 3px;
  background: rgba(0,0,0,0.5);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: col-resize;
  &.isResizing {
    background: rgba(0,0,0,0.7);
  }
}

.modal-dialog {
  .modal-content {
    border-radius: 10px;
    padding: 10px 15px;
  }
}

.action-buttons {
  position: absolute;
  right: 0;
  top: 0;
}

.action-btn {
  font-size: 16px;
  background: rgba(0,0,0,0.1);
  padding: 7px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .models-pane {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .model {
    margin: 10px 20px;
  }
  .models-header {
    text-align: center;
    margin-bottom: 10px;
  }
  .model-detail {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
}