.App {
  padding: 30px 3vw;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.welcome-header {
  color: rgba(0, 0, 0, 0.8);
  font-size: 48px;
  text-align: center;
  margin-bottom: 40px;
}

.models-header {
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.models-pane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}

.model {
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 30px 0;
  padding: 0;

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
  }
}

.shuk-button {
  margin-top: 10px;
}

.model-detail, .shuk-info {
  width: 100%;
  padding-left: 50px;
  overflow-x: scroll;
  position: relative;
}

.model-name {
  text-align: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

.interface-header {
  text-align: center;
  margin: 30px 0;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 50px;

}

.header-cell {
  font-weight: bold;
  text-transform: uppercase;
}

.cell-section {
  margin-bottom: 25px;

  p {
    margin: 5px 0;
    white-space: pre-wrap;
  }
  &:last-child {
    margin-bottom: 0;
  }
  img {
    max-width: 300px;
  }
}

.table-container {
  max-width: 100%;
}

.data-table {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.data-table-head {
  overflow-y: auto;
  overflow-x: scroll;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  min-width: auto !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.data-table-body {
  overflow-y: scroll;
  overflow-x: scroll;
  min-width: auto !important;
  &::-webkit-scrollbar {
    display: none;
  }
}

.table-row {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  &:last-child {
    border-bottom: none;
  }
}

.header-cell, .table-cell {
  margin: 0;
  padding: 0.5rem;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  position: relative;
  overflow-x: scroll;

  :last-child {
    border-right: 0;
  }
}

.table-img {
  width: 90%;
  margin: 0 auto;
}

.resizer {
  width: 3px;
  background: rgba(0,0,0,0.5);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: col-resize;
  &.isResizing {
    background: rgba(0,0,0,0.7);
  }
}

.modal-dialog {
  .modal-content {
    border-radius: 10px;
    padding: 10px 15px;
  }
}

.model-interface {
  position: relative;
}

.action-buttons {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.action-btn {
  font-size: 16px;
  background: rgba(0,0,0,0.1);
  padding: 7px 20px;
  border-radius: 10px;
  margin-left: 5px;
}

.interface-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.model-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0px 20px 20px 20px;
  min-width: 100px;

  h4, label {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
  }
  textarea {
    width: 350px;
    min-height: 200px;
  }
}

.error-text {
  color: red;
  font-size: 12px;
  position: absolute;
  right: 0;
  top: 25px;
  width: 100vw;
  text-align: right;
}

.back-button {
  top: 0;
  left: 20px;
  position: absolute;
}

.image-upload {
  cursor: pointer;
  width: 400px;
}

.clear {
  font-size: 14px;
  padding: 0;
}

.login-link {
  color: rgba(0,0,0,0.7);
  text-decoration: none;
  margin: 50px auto;
  font-size: 30px;
  transition: 0.2s all;
}

@media screen and (max-width: 768px) {
  .models-pane {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .model {
    margin: 10px 20px;
  }
  .models-header {
    text-align: center;
    margin-bottom: 10px;
  }
  .model-detail, .shuk-info {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
  .model-input {
    margin: 20px auto;
  }
}