.App {
  padding: 30px 3vw;
}

.welcome-header {
  color: rgba(0, 0, 0, 0.8);
  font-size: 48px;
  text-align: center;
}

.models-header {
  font-size: 24px;
  margin: 0;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.7);
}

.models-pane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 30px;
}

.model {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 0 30px 0;
  padding: 0;

  h3 {
    margin: 0;
    font-weight: 500;
  }
}

.model-detail {
  width: 80%;
  padding: 0 50px;
  overflow-x: scroll;
}

.model-name {
  text-align: center;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
}

.header-cell {
  font-weight: bold;
  margin-right: 15px;
  min-width: 100px;
  margin-bottom: 5px;
}

.cell {
  margin-top: 5px;
  margin-right: 15px;
  word-wrap: break-word;
  min-width: 100px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .models-pane {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .model {
    margin: 10px 20px;
  }
  .models-header {
    text-align: center;
    margin-bottom: 10px;
  }
  .model-detail {
    width: 100%;
    padding: 0;
    margin-top: 30px;
  }
}